/* CSS reset um Seitenbreite anzupasen 
vw (viewport width) ist benutzt um die Seitebreite auf 70%  anzupassen 
1vw=1% des sichtbaren
*/

* {
	max-width:70vw !important;
	margin:0 auto !important;
	float:none !important;
}

/* Default Schriftart setzen und height auf 1000px um footer in die fixierte position zu bringen, 0px bottom */

html,body {
	font-family: 'PT Sans', sans-serif;
	

}

body {
	/* Overflow auf Auto eingestellt und Seitenhöhe angegeben, um vertikale Bewegung zu ermöglichen, d. h. Sprung nach oben mit Pfeil zum funktionieren gebracht */
	height:1000px;
	overflow:auto;
}

/* Navigation elemente auf rechte Seite bringen 
und Margin-rechts mit 15vw positionert.
By-the-way das ist ein Multilinekommentar
*/

.navigation-top {
float:right;
position:absolute;
right:15vw;
top:40px;
padding:10px;
}

#top {
	padding-bottom:50px;
}
#top img {
	float:left;
	padding:10px;
	max-height:90px;
	filter: drop-shadow(16px 16px 10px black)
}

/* Klasse mit Firmennamen zentriert, könnte auch h1 gemacht werden */

.company-name {
font-family: 'Notable', sans-serif;
font-size:2em;
position:absolute;
top:40px;
right:35vw;
color:#74CCCF;
}

nav ul li  { 
display:inline;
}

nav ul li a { 
text-decoration:none;
}

h2,h3 {
	
	margin:10px !important;
	text-align:center;
}

/*Styling für links */

header a:visited {
color:red;
}

header a:hover {
color:purple;
}

/* section mit article */
section article {
	width:70%;
	margin-top:10px;
	float:left !important;
	text-align:justify;
}

section aside {
	width:30%;
	float:right !important;
	position:absolute;
	right:115px;;
}

/* Sehr langer CSS-Kombinator um Bilder (img-Tag) mit Rahmen zu verschönern */

section aside p a img {
	border:2px dotted red;
}

footer {
	width:100%;
	text-align:center;
	margin:10px auto;
	position:fixed;
	bottom:0;
	background-color:#f1f1f1;
	color:black;
}
/* Trick mit 20% die 4 Artikel elemente auf gleiche breite zu bringen*/

footer article {
	display:inline-block;
	margin:0 auto;
	max-width:20%;
}

footer p {
	display:inline-block;
}

.customer-service ul li {
list-style-type:none;
display:block;

}

.copyright-bottom {
	margin:5px auto;
	padding:10px;
	float:left !important;
}

.copyright-bottom a img {
	max-height:60px;
	display:block;
	margin:0 auto;
	
}

.copyright-bottom span {
	font-weight:bold;
}

.customer-service {
text-align:left ;
vertical-align: text-top;
padding:10px;

}

#back-to-top {
float:right !important;
background-color:red;
opacity: 0.7;
border-radius:50%;
border-style:dotted;
max-height: 48px;
padding:3px;
position:absolute;
bottom:35px;
right:10px;
}

.tea-promo img {
	max-height:160px;
	padding:5px;
	margin:0 auto;
}

.tea-promo p {
	text-align:right;
	font-size:14px;
	font-weight:bolder;
}

.tea-promo a {
	text-decoration:none;
	color:darkred;
}

.tea-promo a:hover {
	text-decoration:underline;
	color:blue;
}

section article {
	line-height: 1.6;
}

section article p {
	margin-bottom:10px !important;
}

table {
	width:100%;
	border-collapse: collapse;
}

table,th,td {
	border:1px solid black;
}
td,th {
	text-align:center;
}
form {
	margin:20px;
	padding:10px;
	text-align:right;
}
form button {
	background-color:red;
	color:white;
}
@media screen and (max-width:1320px) {

	.company-name {
		color:red;
		font-size:24px;
		margin:0 10px;
		padding:0 10px;
	}

	section aside {
		top:200px;
		right:2%;
	}

	footer {
		max-height:100px;
		font-size:10px;
		bottom:0;
		}
}

@media screen and (max-width:960px) {
	
	.company-name {
		display:none;
	}
}

.quellen li {
	list-style-type: lower-roman;
}

p.table-info {
	text-transform: capitalize;
	padding:20px;
}

form.maus-zeiger:hover {
	/* Form mit dem neuen Mauszeiger Wert */ 
	cursor: crosshair;
}

/* Kind-Selektor */

main>div {
/* Höhe angepasst*/
height:420px;
}

.zwei-artikel p{
	float:right;
	margin:10px;
	padding:10px;

}

.zwei-artikel img{
	width:300px;
}

/* Kind-Selektor sollte nur Verweise nur Seite mit Artikel ansprechen */
div>p>a {
	color:blue;
}
div>p>a:hover {
	color:green;
}